/*font-family: 'Exo 2', sans-serif;
font-family: 'Poppins', sans-serif;/
<a href="https://storyset.com/web">Web illustrations by Storyset</a>*/
p,
h1,
h2 {
  text-align: center;
  color: white;
  font-weight: 700px;
}
p {
  font-size: 36px;
  line-height: 54px;
  font-family: "Exo 2", sans-serif;
  padding-top: 100px;
  text-align: center;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 96px;
}
h2 {
  font-family: "Exo 2", sans-serif;
  padding-bottom: 20px;
}
a {
  padding: 20px 30px;
  background: #2fc4b2;
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
}
a:hover {
  color: #2fc4b2;
  background: white;
  border: 1px solid #2fc4b2;
}
a:active {
  background: #2fc4b2;
  color: #ffffff;
  transition: ease 25ms;
}
.homepage {
  text-align: center;
  padding: 150px 30px;
  background: #7c73e6;
  position: relative;
}
.pic {
  width: 600px;
}

.custom-shape-divider-bottom-1698035227 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698035227 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 115px;
}

.custom-shape-divider-bottom-1698035227 .shape-fill {
  fill: #ffffff;
}
